<!DOCTYPE html>
<html>
<head>
  <title>SmartAlarmServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:notice].blank? %>
	<div id="notice">
		<%= simple_format(flash[:notice]) %>
	</div>
<% end %>

<%= yield %>

</body>
</html>
